@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f3f4f6;
  color: #0f172a;
}

.input {
  @apply w-full rounded-xl border border-slate-200 bg-white px-4 py-3 text-slate-900 outline-none transition focus:border-orange-500 focus:ring-4 focus:ring-orange-100;
}

.btn-primary {
  @apply rounded-xl bg-[#f66504] px-4 py-2 font-semibold text-white transition hover:bg-[#e45c00];
}